@model IEnumerable<ClientManager.Core.Domain.Person>

@{
    ViewBag.Title = "Relatórios de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Clientes</h2>

<p>
    @Html.ActionLink("Nova Pessoa", "Create",
        new { controller = "Person" },
        new { @class = "btn btn-sm btn-success" })
</p>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Confirmar Exclusão</h4>
        </div>
        <div class="modal-body">
            Tem certeza que deseja excluir este cliente?
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" type="button" class="btn btn-primary">Cancelar</button>
            <button id="btnContinueDelete" type="button" class="btn btn-danger">Excluir</button>
        </div>
    </div>
</div>
</div>
    <table id="example" class="dataTables_wrapper" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uf)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uf)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                        <a id="deleteItem" class="deleteItem btn btn-sm btn-danger" data-target="#basic"
                           data-toggle="modal"
                           data-path="@Url.Action("Delete", "Person", new { id = @item.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uf)
                </th>
                <th>Ação</th>
            </tr>
        </tfoot>


    </table>

    @section scripts{

        <script>
         
        </script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>

        <script src="~/Scripts/Person Scripts/personScripts.js"></script>
    }
